<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DataSource" value="DESKTOP-EMT3CHH\SQLEXPRESS"/>
		<add key="Database" value="anime"/>
		<add key="Name" value="test"/>
		<add key="Password" value="tes"/>
		<add key="TrustCertificate" value="true"/>
	</appSettings>
</configuration>